body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* Header style */

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* The white console container style */

.console-container {
  background-color: #ffffff;
  border-radius: 50px; /* Increase the border radius for more rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 50%;
  max-width: 1200px; /* Set a maximum width to limit the console container on wide screens */
  box-sizing: border-box;
}

/* Console style */

.console-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.console {
  background-color: #1e1e1e;
  color: #00ff00;
  font-family: 'Courier New', monospace;
  padding: 16px;
  width: 100%;
  height: 600px;
  overflow-y: auto;
  border-radius: 5px;
  white-space: pre-wrap;
  box-sizing: border-box;
  position:relative;
}

.console div {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.console-message {
  flex-grow: 1;
  word-wrap: break-word;
}

/* Timestamp and line number style */

.line-number {
  color: #ff9900;
  margin-right: 8px;
  flex-shrink: 0;
  text-align: right;
  width: 40px;
  min-width: 40px;
  white-space: nowrap;
}

.timestamp {
  color: #66cc66;
  margin-right: 8px;
  flex-shrink: 0;
  text-align: right;
  width: 80px;
  min-width: 80px;
  white-space: nowrap;
}

/* GitHub link style */

.github-link {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.github-link:hover {
  color: #0056b3;
}

/* Refresh button style */

.refresh-button {
  background-color: #007bff;
  border: none;
  color: #ffffff;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.refresh-button:hover {
  background-color: #0056b3;
}

/* Adaptiveness for any device */

@media (min-width: 768px) and (max-width: 1023px) {
  .console-container {
    width: 70%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .console-container {
    width: 60%;
  }
}

@media (min-width: 1440px) {
  .console-container {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .console {
    height: 400px;
  }
}

/* Increase the width for mobile screens */

@media (max-width: 767px) {
  .console-container {
    width: 100%; /* Change this value to increase the width on mobile screens */
  }

  /* Add padding to the sides for mobile screens */
  .App {
    padding: 0 10px;
  }
}